################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/3f570d4a-36d8-49d4-85e5-e7e44bc92516.vsidx
