################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/3f570d4a-36d8-49d4-85e5-e7e44bc92516.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/a7c641a7-361a-43cb-b967-fb5b0f3f5de3.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/d1b0c017-2c9a-42e1-9f54-856f380b65ce.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/f79cc13b-15ac-406f-9f77-ecad4306d334.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/7c40daf3-56eb-4555-95b9-7c1c7e20d4ae.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/086248ad-cca5-4360-85ff-db0e957c8ddb.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/52631a8b-cbbf-4cf9-b710-1c8b92740334.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/71d381f5-c829-45ae-896a-72a86b4593cf.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/a4479273-d06a-444f-beb7-955f97e2d44c.vsidx
/PS_42_Asya/.vs/PS_42_Asya/FileContentIndex/b2edebcb-fafe-4236-8f72-5f9741a04b9f.vsidx
